@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="login-partial nav navbar-nav navbar-right">
        <li>
            <span class="navbar-text"><span class="glyphicon glyphicon-user"></span> <span>@(ViewBag.UserName + " [" + ViewBag.RoleName + "]")</span></span>
            @*@Html.ActionLink("Здравствуйте, " + ViewBag.UserName + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })*@
        </li>
        <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();"><i class="glyphicon glyphicon-off"></i> Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="login-partial nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
