<!-- ko with: client -->
@*<div class="heading">
        <h2>Покупатели</h2>
        <a class="create-link" href="/#client/create"><i class="fa fa-user-plus" aria-hidden="true"></i> Добавить</a>
    </div>
    <div class="row">
        <section class="col-md-24">*@
<div class="grid-form">
    <div class="grid-form1">
        <h3 id="forms-example" class="">Клиенты</h3>
        <br />
        <a class="create-link btn btn-primary btn-lg" href="/#client/create"><i class="" aria-hidden="true"></i> Добавить</a>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">№</th>
                    <th>ФИО</th>
                    <th class="text-center">Телефон</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: list">
                <tr>
                    <td class="text-center" data-bind="text: ((($parent.selectedPage() - 1) * $parent.selectedPageSize()) + $index() + 1)"></td>
                    <td data-bind="text: clientFullName()"></td>
                    <td class="text-center" data-bind="text: phone"></td>
                    <td class="text-center actions">
                        <a href="#" style="margin-right: 0.5em;font-size: 1.2em;" data-bind="attr : { href: '/#client/' + clientId() }, tooltip: { title: 'Перейти к редактированию', placement: 'left', trigger: 'hover' }"><i class="fa fa-edit text-success"></i></a>
                        <a href="#" style="font-size: 1.2em;" data-bind="click: $parent.removeClient, tooltip: { title: 'Удалить', placement: 'bottom', trigger: 'hover' }"><i class="fa fa-trash text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-md-9">
                @*<form class="form-inline">
                    <div class="form-group">
                        <label for="">Показывать записей: </label>
                        <select class="form-control" data-bind="options: pageSizes, value: selectedPageSize, event : { change: pageSizeChanged }"></select>
                    </div>
                </form>*@
            </div>
            <div class="col-md-3">
                <!-- ko if: pagesCount() > 1 -->
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous" data-bind="click: function () { selectedPageChanged(selectedPage() - 1); }">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!-- ko foreach: new Array(pagesCount()) -->
                        <!-- ko if: $index() >= $parent.selectedPage() - 4 && $index() <= $parent.selectedPage() + 2 -->
                        <li data-bind="attr: { 'class' : $parent.selectedPage() == ($index() + 1) ? 'active' : '' }">
                            <a href="#" data-bind="text: $index()+1, click: function () { $parent.selectedPageChanged($index() + 1); }"></a>
                        </li>
                        <!-- /ko -->
                        <!-- /ko -->
                        <li>
                            <a href="#" aria-label="Next" data-bind="click: function () { selectedPageChanged(selectedPage() + 1); }">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /ko -->
            </div>
            @*<div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group pull-right">
                        <label for="">Найдено записей: </label>
                        <label class="form-control" data-bind="text: clientsCount()"></label>
                    </div>
                </form>
            </div>*@
        </div>
        <!-- End of pagination -->
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->
