<!-- ko with: createSale -->
<div class="grid-form">
    <div class="grid-form1">
        <h3 id="forms-example" class="">Расчет</h3>
        <!--Подключение в одну строку. Разместите следующий код в любом месте статьи или модуля CMS -->
        <div id="lwcdiv"></div>

        @*<div class="row" style="margin-top: 1.2em;">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success" style="margin-left: -4em;">Заказать</button>
            </div>
        </div>*@

        <link href="~/js/lightcalcdemo/css/calc.css" rel="stylesheet" />
        <script src="//www.oknosoft.ru/lightcalc/js/lightcalc.js"></script>
        @*<script src="~/js/lightcalcdemo/js/lightcalc.js"></script>*@
        <script src="~/js/lightcalcdemo/js/lwc-design-user-css-sill-list.js"></script>
        <script src="~/js/lightcalcdemo/js/lwc-design-user-css.js"></script>
        <script src="~/js/lightcalcdemo/js/lwc-design.js"></script>
        <script src="~/js/lightcalcdemo/js/lwc-price-sill-list.js"></script>
        <script src="~/js/lightcalcdemo/js/lwc-price.js"></script>
        <!--Инструкция по настройке состава профилей, заполнений, доп. услуг и ценообразования входит в комплект поставки -->

        <div style="margin-top: 1em;">
            <h3 id="forms-example" class="">Оформление</h3>
        </div>
        <form class="form-horizontal">
            @*<div class="form-group">
            <label for="product" class="col-sm-2 control-label">Деталь / спецтехника</label>
            <div class="col-sm-10">
                <input type="text" id="product" class="form-control" data-bind="typeahead: { api: '/api/Product', data : $data, key: 'productId' }, value: productName" data-provide="typeahead" placeholder="Введите название" autocomplete="off" value="" />
                <input type="hidden" data-bind="value: productId" />
                <div class="text-danger msg-text" style="display: none">
                    <span class="glyphicon glyphicon glyphicon-exclamation-sign form-control-feedback"></span><span>Не найдено</span>
                </div>
            </div>
        </div>*@
            <div class="form-group">
                <label for="client" class="col-sm-2 control-label">Покупатель</label>
                <div class="col-sm-6">
                    <select id="client" class="form-control" data-bind="value: clientId, options: clients, optionsText: 'clientFullName', optionsValue: 'clientId', optionsCaption: ''"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="employee" class="col-sm-2 control-label">Продавец</label>
                <div class="col-sm-6">
                    <select id="employee" class="form-control" data-bind="value: employeeId, options: employees, optionsText: 'employeeFullName', optionsValue: 'employeeId', optionsCaption: ''"></select>
                </div>
            </div>
            @*<div class="form-group">
            <label for="totalCost" class="col-sm-2 control-label">Общая стоимость</label>
            <div class="col-sm-10">
                <div class='input-group'>
                    <input type='text' id='totalCost' class="form-control" data-bind="numeric : {}, value: totalCost" />
                    <span class="input-group-addon">
                        <i class="" aria-hidden="true">руб.</i>
                    </span>
                </div>
            </div>
        </div>*@

            <div class="form-group">
                <label for="numberOfProducts" class="col-sm-2 control-label">Количество</label>
                <div class="col-sm-4">
                    <div class='input-group'>
                        <input type='text' id='numberOfProducts' class="form-control" data-bind="numeric : {}, value: numberOfProducts" />
                        <span class="input-group-addon">
                            <i class="" aria-hidden="true">шт.</i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="saleDate" class="col-sm-2 control-label">Дата заказа</label>
                <div class="col-sm-4">
                    <div class='input-group date'>
                        <input type='text' id='saleDate' class="form-control" data-bind="datepicker: saleDate, datepickerOptions : { locale: 'ru', format: 'DD.MM.YYYY' }" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
            <div class="col-sm-12">
             <button type="submit" class="btn btn-primary" data-bind="click: save" style="margin-left: -4em;"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить</button>
            </div>
        </div>*@

            <div class="row" style="margin-top: 1.2em;">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success btn-lg" style="margin-left: -4em;" data-bind="click: save">Заказать</button>
                </div>
            </div>
        </form>
    </div>
</div>


@*<div class="heading">
    <a href="#" class="back-link" data-bind="click: $root.navigateToSale, tooltip: { title: 'Вернуться назад', placement: 'bottom', trigger: 'hover' }"><i class="fa fa-arrow-circle-left"></i></a>
    <h2>Добавление информации о продаже</h2>
</div>*@
<!-- /ko -->
