<!-- ko with: editProduct -->
<div class="heading">
    <a href="#" class="back-link" data-bind="click: $root.navigateToProduct, tooltip: { title: 'Вернуться назад', placement: 'bottom', trigger: 'hover' }"><i class="fa fa-arrow-circle-left"></i></a>
    <h2>Редактирование информации о товаре</h2>
</div>
<form class="form-horizontal">
    <div class="form-group">
        <label for="lastName" class="col-sm-4 control-label">Название</label>
        <div class="col-sm-20">
            <input class="form-control" id="lastName" data-bind="value: productName">
        </div>
    </div>
    <div class="form-group">
        <label for="cost" class="col-sm-4 control-label">Цена</label>
        <div class="col-sm-20">
            <div class='input-group' id='cost'>
                <input type='text' class="form-control" data-bind="value: cost" />
                <span class="input-group-addon">
                    <i aria-hidden="true">руб.</i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inStock" class="col-sm-4 control-label">В наличии</label>
        <div class="col-sm-20">
            <div class='input-group' id='inStock'>
                <input type='text' class="form-control" data-bind="value: inStock" />
                <span class="input-group-addon">
                    <i class="" aria-hidden="true">шт.</i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-20">
            <button type="submit" class="btn btn-primary" data-bind="click: save"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить</button>
        </div>
    </div>
</form>
<!-- /ko -->
