<!-- ko with: sale -->
<div class="grid-form">
    <div class="grid-form1">
        <h3 id="forms-example" class="">Заказы</h3>
        <input type="text" class="form-control search-field" placeholder="Поиск" data-bind="value: searchQuery, valueUpdate: 'afterkeydown', event:{keyup:search}" />
        <br />
        <a class="create-link btn btn-primary btn-lg" href="/#sale/create"><i class="" aria-hidden="true"></i> Добавить</a>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Комплектация</th>
                    <th class="text-center">Количество</th>
                    <th class="text-center">Cтоимость</th>
                    <th>Клиент</th>
                    <th>Менеджер</th>
                    <th class="text-center">Дата</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: list">
                <tr>
                    <td class="text-center" data-bind="text: ((($parent.selectedPage() - 1) * $parent.selectedPageSize()) + $index() + 1)"></td>
                    <td data-bind="text: complectation()"></td>
                    <td class="text-center" data-bind="text: numberOfProducts()"></td>
                    <td class="text-center" data-bind="text: totalCost()"></td>
                    <td data-bind="text: clientShortName()"></td>
                    <td data-bind="text: employeeShortName()"></td>
                    <td class="text-center" data-bind="text: saleDate() != null ? moment(saleDate()).format('DD.MM.YYYY') : ''"></td>
                    <td class="text-center actions">
                        @*<a href="#" data-bind="attr : { href: '/#sale/' + saleId() }, tooltip: { title: 'Перейти к редактированию', placement: 'left', trigger: 'hover' }"><i class="fa fa-pencil"></i></a>*@
                        <a href="#" style="font-size: 1.2em;" data-bind="click: $parent.removeSale, tooltip: { title: 'Удалить', placement: 'bottom', trigger: 'hover' }"><i class="fa fa-trash text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <section class="col-md-12">

                <!-- Pagination -->
                <div class="row text-center">
                    <div class="col-md-9">
                        @*<form class="form-inline">
                            <div class="form-group">
                                <label for="">Показывать записей: </label>
                                <select class="form-control" data-bind="options: pageSizes, value: selectedPageSize, event : { change: pageSizeChanged }"></select>
                            </div>
                        </form>*@
                    </div>
                    <div class="col-md-3">
                        <!-- ko if: pagesCount() > 1 -->
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous" data-bind="click: function () { selectedPageChanged(selectedPage() - 1); }">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <!-- ko foreach: new Array(pagesCount()) -->
                                <!-- ko if: $index() >= $parent.selectedPage() - 4 && $index() <= $parent.selectedPage() + 2 -->
                                <li data-bind="attr: { 'class' : $parent.selectedPage() == ($index() + 1) ? 'active' : '' }">
                                    <a href="#" data-bind="text: $index()+1, click: function () { $parent.selectedPageChanged($index() + 1); }"></a>
                                </li>
                                <!-- /ko -->
                                <!-- /ko -->
                                <li>
                                    <a href="#" aria-label="Next" data-bind="click: function () { selectedPageChanged(selectedPage() + 1); }">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /ko -->
                    </div>
                    @*<div class="col-md-3">
                        <form class="form-inline">
                            <div class="form-group pull-right">
                                <label for="">Найдено записей: </label>
                                <label class="form-control" data-bind="text: salesCount()"></label>
                            </div>
                        </form>
                    </div>*@
                </div>
                <!-- End of pagination -->
                <!-- /ko -->
            </section>
        </div>
    </div>
</div>
<!-- /ko -->
